<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>宇都宮/唐澤　研究室</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

  <h1>宇都宮/唐沢　研究室</h1>

  <div id="team_img">
    <img src="./team.jpg" width="730" alt="team">
  </div>

  <div class="meibo">
    <h2>名簿</h2>
    <ul>
      <li><a href="#utsunomiya">宇都宮　気伸</a></li>
      <li><a href="#ochiai">★落合　聡裕</a></li>
      <li><a href="#kararin">唐澤 紬香子</a></li>
      <li><a href="#miyacchi">宮田　景介</a></li>
    </ul>
  </div>



  <h2>自己紹介</h2>
  <hr>
  <dl id="utsunomiya">
    <dt>氏名</dt>
    <dd>宇都宮 気伸</dd>
    <dt>生年月日</dt>
    <dd>1992年1月6日</dd>
    <dt>出身</dt>
    <dd>長野市</dd>
    <dt>趣味</dt>
    <dd>ドライブ、スノボ</dd>
    <dt>所属</dt>
    <dd>推進事業3部</dd>
  </dl>

  <hr>

  <dl id="ochiai">
    <dt>氏名</dt>
    <dd>落合　聡裕</dd>
    <dt>生年月日</dt>
    <dd>1992年3月31日</dd>
    <dt>出身</dt>
    <dd>上田市</dd>
    <dt>趣味</dt>
    <dd>乗馬、料理、カフェ巡り</dd>
    <dt>所属</dt>
    <dd>推進事業3部</dd>
  </dl>

  <hr>

  <dl id="kararin">
    <dt>氏名</dt>
    <dd>唐澤 紬香子</dd>
    <dt>生年月日</dt>
    <dd>1994年3月19日</dd>
    <dt>出身</dt>
    <dd>松本市</dd>
    <dt>趣味</dt>
    <dd>揚げ出し豆腐を作ること</dd>
    <dt>所属</dt>
    <dd>推進事業3部</dd>
  </dl>

  <hr>

  <dl id="miyacchi">
    <dt>氏名</dt>
    <dd>宮田　景介</dd>
    <dt>生年月日</dt>
    <dd>1991年10月19日</dd>
    <dt>出身</dt>
    <dd>松川村</dd>
    <dt>趣味</dt>
    <dd>乗馬、楽器、運動</dd>
    <dt>所属</dt>
    <dd>推進事業3部</dd>
  </dl>

</div>


</body>
</html>
